.ImageCanvas {
  background: #ccc;
  margin: 0 auto;
}
html {
    box-sizing: border-box
}

*,:after,:before {
    box-sizing: inherit
}

body {
    background: #fff;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #4A4A4A
}

.App {
  max-width: 1250px;
  margin: 0 auto;
}

.App_preview {
  float: left;
  width: 800px;
}

.App_controls {
  width: 450px;
  float: left;
  padding: 20px;
}

